.header {
    width: 100vw;
    height: 9vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .hamburger-menu {
        font-size: 5rem;
        padding-left: 2vw;
        color: rgb(70, 70, 70);
    }
}