.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        width: 70vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        div {
            color: white;
        }
        .text {
            font-size: 4rem;
            width: 80vw;
            text-align: start;
        }
        .mainText {
            font-size: 9rem;
            font-weight: bold;
        }
    }
}